@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffc107;
}

main {
    padding: 20px;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #0077b5, #005e93);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #005e93, #003d5a);
}

.linkedin-button {
    background-color: #0077b5;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-left: 10px;
    transition: background 0.3s ease;
}

.linkedin-button:hover {
    background-color: #005e93;
}


.project-item {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-item h3 {
    color: #343a40;
    margin-bottom: 8px;
}

.project-item p {
    color: #666;
    margin-bottom: 12px;
}


form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    color: #343a40;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #ffc107;
    box-shadow: 0 0 8px rgba(255, 193, 7, 0.5);
}


#contact-form button {
    background: linear-gradient(to right, #28a745, #218838);
}

#contact-form button:hover {
    background: linear-gradient(to right, #218838, #1e7e34);
}